*{
    border-collapse:collapse;
    box-sizing: border-box;
    /* margin:0; */
    /* padding:0; */
}
body{
    /* background: #ffd9d9; */
}
canvas{
    /* border:1px solid red; */
    /* margin:2px; */
}
.controls_container{
    position: absolute;
    top: 490px;
}
.controls_container table td{
    border:1px solid #9ac4ff;
    padding:10px;
    color:#ffffff;
    
}
.controls_container table{
    width:576px;
    user-select:none;
    /* background:red; */
}
.controls_container table td{
    width:10%;
    text-align:center;
    /* background:#0064201c; */
}
.controls_container table td:last-child{
    width:20%;
}
.controls_container table td.padding{
    width:50%;
    border-top:none;
    border-bottom:none;
    /* background:white !important; */
}
.canvas_container{
    /* position:relative; */
    /* left:30px; */
}